:host {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

img {
    max-width: 300px;
    max-height: 300px;
}

h2 {
    padding: 20px;
    font-size: 22px;
}
